@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-top: 15px;
}

.navigation-logo {
  display: flex;
  width: 145px;
  align-items: flex-start;
  margin-left: 60px;
  margin-bottom: 30px;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:focus {
  outline: 3px solid #af4fff;
}

.navigation-logo:active {
  opacity: 0.3;
}

.header-container {
  background-color: #ffe17f;
  margin: 0 auto;
  width: 1160px;
  background-image: linear-gradient(#ffffff 11%, #ffe17f 11%);
  padding-top: 5px;
  min-height: 204px;
}

.user-form {
  display: flex;
  width: 517px;
  margin-right: 24px;
}

.user-form-catalog {
  display: flex;
  width: 517px;
  
}

.user-field {
  background-color: #ffe17f;
  padding: 8px 8px 8px 46px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 357px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center left 14px;
}

.user-field:focus-visible {
  outline: none;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
}

.input-wrapper:focus-within {
  outline: 2px solid #af4fff;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.user-control {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.user-control:hover {
  opacity: 0.6;
}

.user-control:focus {
  outline: 2px solid #af4fff;
}

.user-control:active {
  opacity: 0.3;
}

.control-bag {
  margin-left: 36px;
}

.control-compare {
  padding-left: 22px;
  background-image: url("../images/compare.svg");
  background-position: center left;
  background-repeat: no-repeat;
}

.bag-container {
  position: relative;
}

.control-bag {
  padding-left: 26px;
  background-image: url("../images/bag.svg");
  background-repeat: no-repeat;
  background-position: center left;
  position: relative;
}

.background-element {
  position: absolute;
  content: "";
  display: flex;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 21px;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 1px;
  right: 95px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.popover-open {
  display: block;
}

.popover {
  position: absolute;
  top: 35px;
  right: -82px;
  z-index: 6;
  width: 320px;
  background-color: #000000;
  font-family: "Rubik";
  color: #ffffff;
  min-height: 83px;
  display: none;
}

.control-bag:active + .popover,
.control-bag:focus + .popover {
  display: block;
}

.popover::before {
  position: absolute;
  content: " ";
  width: 14px;
  height: 6px;
  top: -6px;
  transform: translateX(-50%);
  left: 50%;
  background-image: url("../images/popover-top.png");
}

.popover-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.popover-item {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.popover-item:hover {
  opacity: 0.6;
}

.popover-item:focus {
  outline: 2px solid #af4fff;
}

.popover-item:active {
  opacity: 0.3;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.product-wrapper:focus {
  outline: 2px solid #af4fff;
}

.delete-item {
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-image: url("../images/delete.svg");
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  cursor: pointer;
}

.delete-item:focus {
  outline: 2px solid #af4fff;
}

.item-text-popover {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-left: 23px;
}

.popover-content .total {
  display: flex;
  background-color: #1a1a1a;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  margin: 0;
  min-height: 44px;
  align-items: center;
}

.total-product {
  margin: 0;
  min-width: 120px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.total-price {
  margin: 0;
  min-width: 150px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.popover-link {
  padding: 20px;
}

.popover-button {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 14px 25px 14px 25px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.popover-button:hover {
  background-color: #ffe17f;
}

.popover-button:focus {
  outline: 2px solid #af4fff;
}

.popover-button:active {
  opacity: 0.3;
}

.form-user-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
  padding: 8px 56px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  min-width: 160px;
  border-left: none;
  cursor: pointer;
}

.form-user-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.form-user-button:active {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.3;
}

.form-user-button:focus-visible {
 outline: none;
}

.form-button-wrapper:focus-within {
  outline: 2px solid #af4fff;
}

.catalog-link {
  text-decoration: none;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.active-page {
  border-bottom: 1px solid;
}

.catalog-link:hover {
  opacity: 0.6;
}
.catalog-link:focus {
  outline: 2px solid #af4fff;
}

.catalog-link:active {
  opacity: 0.3;
}

.navigation-user-enter {
  width: 81px;
  padding-left: 27px;
  background-image: url("../images/user.svg");
  background-repeat: no-repeat;
  background-position: center left;
  margin-right: 150px;
}

.navigation-servis-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 471px;
}

.navigation-catalog {
  display: flex;
  align-items: center;
  width: 1042px;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation-servis-link {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.header-catalog {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.header-catalog::after {
  display: inline-block;
  content: " ";
  width: 50px;
  height: 50px;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 6;
  margin-left: 17px;
  position: relative;
  opacity: 0.3;
}

.header-catalog:hover::after,
.header-catalog:active::after {
  opacity: 1;
}

.navigation-item:focus {
  outline: 2px solid #AF4FFF;
}

.menu-category-checkbox:checked + .header-catalog::after {
  background-image: url("../images/minus.svg");
  border: none;
}

.menu-category-checkbox:checked + .header-catalog:hover::after,
.menu-category-checkbox:checked + .header-catalog:active::after {
  opacity: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-item:first-child:focus-within {
  outline: 2px solid #af4fff;
}

.navigation-item:not(:first-child, :last-child) {
  margin-right: 45px;
}

.navigation-item {
  position: relative;
  z-index: 1;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
}

.navigation-link:active {
  opacity: 0.3;
}

.catalog-list {
  display: grid;
  grid-template-columns: 222px 181px 211px;
  grid-template-rows: repeat(3, 18px);
  column-gap: 30px;
  row-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
}

.catalog-list {
  display: none;
}

.action {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.catalog-link {
  display: block;
}

.promo-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.slider-container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 68px;
}

.image-button-wrapper {
  width: 560px;
  height: 545px;
  position: relative;
}

.button-slider-wrapper {
  position: absolute;
  top: 38%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-slider {
  width: 20px;
  height: 60px;
  color: #000000;
  border: none;
  cursor: pointer;
  background-image: url("../images/arrow-left.svg");
  background-color: transparent;
}

.button-slider:hover {
  opacity: 0.6;
}

.button-slider:active {
  opacity: 0.3;
}

.button-slider:focus {
  outline: 2px solid #af4fff;
}

.slider-prev {
  transform: rotate(180deg);
  margin-left: 30px;
}

.slider-pаgination {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 76px;
}

.slider-pаgination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}

.slider-pаgination-button:hover {
  opacity: 0.6;
}

.slider-pаgination-button:active {
  opacity: 0.3;
}

.slider-button-focus:focus-visible  {
  outline: none;
}

.slider-button-focus {
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.slider-button-focus:focus-within  {
  outline: 2px solid #af4fff;
}


.slider-pаgination-button-current {
  background-color: #000000;
}

.advantages-slide-quadro {
  width: 307px;
  display: grid;
  grid-template-columns: 140px 147px;
  column-gap: 20px;
  row-gap: 12px;
  margin-bottom: 26px;
}

.advantages-head {
  margin: 0;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.advantages-date {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.advantages-slide-fitness {
  width: 155px;
  display: grid;
  grid-template-rows: repeat(2, 30px);
  row-gap: 12px;
}

.advantages-slide-selfie {
  width: 386px;
  display: grid;
  grid-template-columns: 99px 79px 128px;
  row-gap: 12px;
  column-gap: 40px;
}

.non-active {
  display: none;
}

.promo-slider {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin: 0 auto;
  background-image: linear-gradient(#ffe17f 27%, #ffffff 27%);
  margin-top: -32px;
}

.slide-number {
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  top: 81px;
  right: 49px;
}

.promo-discribe {
  width: 560px;
  padding-top: 121px;
}

.promo-title {
  margin: 0;
  margin-bottom: 29px;
  z-index: 2;
  position: relative;
}

.about-promo {
  margin: 0;
  margin-bottom: 50px;
}

.details-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  min-width: 210px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  margin-bottom: 50px;
  padding: 10px 5px;
  position: relative;
  display: flex;
  width: 220px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}

.details-link-promo::after {
  content: " ";
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  position: absolute;
  z-index: -1;
  transition: 1s;
}

.details-link:hover::after {
  height: 100%;
}

.details-link:active::after {
  height: 100%;
  background-color: #ffcc33;
}

.details-link:focus {
  outline: 3px solid #af4fff;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 67px;
  gap: 40px;
  min-height: 253px;
}

.category-image {
  background-color: #ffe17f;
  display: block;
  margin-bottom: 32px;
}

.category-describe {
  margin: 0;
}

.category-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.category-link:hover .category-image {
  background-color: #ffc700;
}

.category-link:active  {
  opacity: 0.3;
}

.category-link:focus {
  outline: 3px solid #af4fff;
}

.delivery-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.service-non-active {
  display: none;
}

.service {
  background-image: linear-gradient(#ffffff 26%, #f0f0f0 26%);
  margin-bottom: 70px;
}

.service-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 70px;
}

.service-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 190px;
  width: 280px;
  border-right: 7px solid #000000;
  padding-bottom: 64px;
  padding-top: 64px;
}

.service-button {
  border: none;
  width: 160px;
  min-height: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 1;
  cursor: pointer;
}

.service-item .service-button::after {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
  transition: 500ms;
}

.service-item .service-button:hover::after {
  height: 100%;
}

.service-item .service-button:active::after {
  height: 100%;
  background-color: #FFCC33;
}

.service-button:focus-visible {
  outline: none;
}

.service-button:focus {
  outline: 3px solid #af4fff;
}

.service-button-active:focus {
  outline: none;
}

.service-button:disabled {
  opacity: 0.3;
}

.service-item-active:focus-visible {
  outline: none;
}

.service-item-active:focus-within {
  outline: 2px solid #af4fff;
}

.service-item {
  margin-bottom: 35px;
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-item-active {
  background-color: #000000;
  z-index: 0;
  margin-bottom: 35px;
}

.service-button-active {
  color: #ffe17f;
  background-color: #000000;
  transition: 500ms;
}

.service-button-active:hover {
  transform: translateX(25px);
}

.service-describe-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 116px;
  display: flex;
}

.item-delivery {
  background-image: url("../images/service-man.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 204px;
  min-height: 164px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.item-garant {
  background-image: url("../images/service-garant.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 239px;
  min-height: 195px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.item-credit {
  background-image: url("../images/service-credit.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 204px;
  min-height: 188px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.item-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
  color: #000000;
}

.item-text {
  margin: 0;
  width: 490px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.service-describe-wrapper {
  width: 873px;
  min-height: 319px;
  display: flex;
  align-items: center;
}

.describe-item.non-active {
  display: none;
}

.special-block {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  background-color: #f0f0f0;
  position: relative;
}

.special-link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 1160px;
  justify-content: center;
}

.special-order {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 125px;
  margin: 0 auto;
}

.special-link::before {
  content: "";
  width: 125px;
  height: 100px;
  position: absolute;
  background-color: #ffe17f;
  background-image: url("../images/car.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}
  
.info-button {
  border: none;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.50);
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 30px 42px 30px 42px;
}

.info-icon {
  opacity: 0.3;
  width: 40px;
}

.special-link:hover::before {
  background-color: #ffc700;
}

.special-link:hover .info-icon {
  opacity: 1;
}

.special-link:active {
  opacity: 0.3;
}

.special-link:focus {
  outline: 2px solid #AF4FFF;
}

.about-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  justify-content: space-between;
  padding-top: 47px;
  margin-bottom: 70px;
}

.about-company {
  position: relative;
  width: 520px;
}

.about-company::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  top: -47px;
}

.about-contact {
  position: relative;
  width: 532px;
}

.about-contact::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  top: -47px;
}

.about-describe {
  margin: 0;
  margin-bottom: 30px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 48px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
  padding-left: 37px;
}

.about-item {
  color: #000000;
  margin-bottom: 19px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  position: relative;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
  left: -32px;
  top: 8px;
}

.details-link-about {
  display: flex;
  width: 270px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.details-link-about::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transition: 500ms;
}

.details-link-about:hover::after {
  width: 100%;
}

.details-link-about:active::after {
  width: 100%;
  background-color: #ffcc33;
}

.details-link-about:focus {
  outline: 2px solid #af4fff;
}

.details-link-letter {
  display: flex;
  width: 259px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0;
}

.details-link-letter::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transition: 1s;
}

.details-link-letter:hover::after {
  width: 100%;
}

.details-link-letter:active::after {
  width: 100%;
  background-color: #ffcc33;
}

.details-link-letter:focus {
  outline: 2px solid #af4fff;
}

.contact-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.contact-phone {
  text-decoration-line: underline;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  margin-bottom: 30px;
  display: block;
}

.contact-phone:focus-visible {
  display: none;
}

.schedule-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.subscribe {
  background-color: #f0f0f0;
  padding-bottom: 56px;
  padding-top: 70px;
}

.subscribe-total-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.subscribe-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  justify-content: space-between;
  margin-bottom: 136px;
  align-items: center;
  margin-left: 5px;
}

.subscribe-content {
  margin: 0;
  width: 558px;
}

.subscribe-container .section-title {
  margin-bottom: 0;
}

.subscribe-form-wrapper {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.subscribe-form {
  display: flex;
  width: 810px;
}

.subscribe-field {
  background-color: #f0f0f0;
  width: 557px;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  padding: 11px 16px 11px 16px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.subscribe-field:focus-visible {
  outline: none;
}

.subscribe-field:focus {
  background-color: #dcdcdc;
}

.subscribe-button {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  min-width: 253px;
  border:  2px solid #c4c4c4;
  padding: 18px 39px 18px 39px;
}

.subscribe-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.subscribe-button:active {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.3;
}

.subscribe-button:focus {
  outline: 3px solid #af4fff;
}

.subscribe-button:disabled {
  opacity: 0.3;
}

.subscribe-free {
  padding-left: 32px;
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.main-footer {
  background-color: #444444;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  color: #ffffff;
  margin-top: 62px;
  margin-bottom: 61px;
}

.footer-logo {
  margin-bottom: 34px;
  width: 145px;
  display: flex;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus {
  outline: 2px solid #af4fff;
}

.footer-contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 47px;
  width: 1160px;
}

.footer-contacts {
  width: 300px;
  margin-right: 58px;
}

.footer-contacts-address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0; 
}

.footer-item {
  margin: 0;
  padding: 0;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-link:focus {
  outline: 2px solid #af4fff;
}

.footer-link:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 0.3;
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 444px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 183px;
}

.footer-contact-phone {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  color: #ffffff;
  display: block;
  width: 175px; 
}

.footer-contact-phone:hover {
  color: #ffc700;
}

.footer-contact-phone:focus {
  outline: 2px solid #af4fff;
}

.footer-contact-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.social-item-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-item-link:hover {
  background-color: #ffc700;
}

.social-item-link:active .social-icon {
  opacity: 0.3;
}

.social-item-link:focus {
  outline: #af4fff;
  width: 40px;
  height: 40px;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 150px;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.footer-social-item:not(:nth-child(3n)) {
  margin-right: 15px;
}

.footer-social-item:focus-visible {
outline: none;
}

.footer-social-item:focus-within {
  outline: 2px solid #af4fff;
}

.social-developer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 656px;
  padding-left: 504px;
  position: relative;
}

.social-developer-wrapper::before {
  position: absolute;
  content: " ";
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  left: 0;
  transform: translateY(-50%);
  top: 40%
}

.developer-link:hover path {
  fill: #ffffff;
}

.developer-link:active {
  opacity: 0.3;
}

.developer-link:focus {
  outline: 1px solid #af4fff;
}

/*Modal*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 6;
  display: none;
}

.modal-block {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  padding: 72px 80px;
  width: 920px;
  box-sizing: border-box;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.close-modal-button {
  padding: 0;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  margin: 2px;
}

.close-modal-button:hover {
  opacity: 0.6;
}

.close-modal-button:focus {
  outline: 2px solid #af4fff;
}

.close-modal-button:active {
  opacity: 0.3;
}

.modal-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.field-user {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 360px;
}

.about-user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.form-label {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  margin-bottom: 14px;
}

.modal-field {
  padding: 20px;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #f0f0f0;
  border: none;
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.modal-field:focus-visible {
  outline: none;
}

.modal-field:hover {
  background-color: #dcdcdc;
} 

.modal-field:active {
  background-color: #ebebeb;
  color: #000000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.modal-field:focus {
  outline: 2px solid #af4fff;
}

.modal-field:disabled {
  opacity: 0.1;
}

.modal-field-name {
  color: rgba(0, 0, 0, 1);
  background-image: url("../images/modal-name.svg");
  background-size: 15px 12px;
}

.modal-field-email {
  color: #000000;
  background-image: url("../images/modal-email.svg");
}

.modal-field-email:focus:invalid {
  outline: 2px solid #ff3d3d;
}

.modal-comment {
  color: #ff3d3d;
  font-size: 14px;
  line-height: 20px;
}

.modal-button-wrapper {
  display: flex;
  background-color: #f0f0f0;
}

.about-order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.field-order {
  width: 540px;
}

.field-amount {
  width: 180px;
}

.modal-field-amount::-webkit-outer-spin-button,
.modal-field-amount::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-field-amount {
  background-color: #f2f2f2;
  text-align: center;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 20px;
  appearance: textfield;
  padding: 5px;
  width: 60px;
  margin-left: 2px;
  margin-right: 2px;
}

.label-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}

.label-wrapper .form-label {
  margin-bottom: 0;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #ffe17f;
  position: absolute;
  right: 36px;
}

.tooltip-text {
  position: absolute;
  display: none;
  background-color: #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  width: 200px;
  padding: 19px;
  top: 25px;
  right: -20px;
  margin-top: 10px;
  z-index: 1;
  box-sizing: border-box;
}

.tooltip-text::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000000;
  transform: rotate(45deg);
  position: absolute;
  top: -4px;
  right: 64px;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.modal-button {
  border: none;
  width: 60px;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
}

.modal-button:hover {
  opacity: 0.6;
  background-color: #ebebeb;
}

.modal-button:active {
  opacity: 0.3;
  background-color: #f0f0f0;
}

.modal-button:focus {
  outline: 2px solid #af4fff;
}

.modal-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.button-less {
  background-image: url("../images/modal-minus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-more {
  background-image: url("../images/modal-plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.modal-form-button {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  min-width: 200px;
  color: #000000;
  background-color: #ffffff;
  padding: 10px 5px;
  border: none;
  position: relative;
  display: flex;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-form-button::after {
  content: " ";
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  position: absolute;
  z-index: -1;
  transition: 500ms;
}

.modal-form-button:hover::after {
  height: 100%;
}

.modal-form-button:active::after {
  background-color: #ffcc33;
}

.modal-form-button:focus {
  outline: 2px solid #af4fff;
}

/*Catalog */
.navigation-user-catalog {
  display: flex;
  justify-content: space-between;
  width: 496px;
}

.for-user {
  display: flex;
  width: 281px;
}

.user-choose {
  display: flex;
  width: 240px;
}

.navigation-user-exit {
  opacity: 0.3;
}

.navigation-user-name {
  padding-left: 27px;
  background-image: url("../images/user.svg");
  background-repeat: no-repeat;
  background-position: center left;
  margin-right: 28px;
}

.inner-header {
  width: 1079px;
  margin: 0 auto;
  padding-left: 40px;
}

.header--inner-title {
  margin-bottom: 16px;
}

.header--inner-title {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 11px;
}

.breadcrumbs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 1px solid #af4fff;
}

.breadcrumbs-item:focus {
  outline: 1px solid #af4fff;
}

.catalog-monopod {
  background-color: #f0f0f0;
}

.catalog-filter {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #000000;
  width: 200px;
  margin-bottom: 9px;
}

.range-toggle {
  width: 18px;
  height: 18px;
  background-color: #f0f0f0;
  border-radius: 50%;
  border: 2px solid #000000;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
  position: absolute;
}

.button-min-wrapper {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  transform: translateY(-50%);
  right: 190px;
}

.button-min-wrapper:focus-within {
  outline: 2px solid #af4fff;
}

.button-max-wrapper {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
}

.button-max-wrapper:focus-within {
  outline: 2px solid #af4fff;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.range-toggle:focus-visible {
  outline: none;
}

.range-toggle:active {
  background-color: #000000;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #dcdcdc;
  width: 81px;
  right: 0;
}

.price-wrapper {
  display: flex;
  position: relative;
  left: -12px;
  color: rgba(0, 0, 0, 0.3);
}

.form-price {
  font-size: 14px;
  border: none;
  background-color: transparent;
  width: 55px;
  height: 20px;
  padding: 0;
  margin-top: 3px;
}

.form-price:focus {
  outline: 2px solid #af4fff;
}

.min-price {
  margin-right: 50px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  border: none;
}

.cards-wrapper {
  background-color: #ffffff;
  padding-bottom: 78px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  padding: 70px 40px 0 40px;
  margin-bottom: 43px;
}

.card-item-new {
  position: relative;
}

.card-item-new:before {
  content: "";
  background-image: url("../images/new.svg");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  top: 27px;
  right: 27px;
  z-index: 1;
}

.name-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  justify-content: space-between;
  align-items: flex-start;
}

.select-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.filter-title {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.left-column {
  width: 320px;
  padding-left: 60px;
}

.filter-catalog {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

.control-input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  margin: 0;
  cursor: pointer;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 16px;
}

.control-input[type="checkbox"]:checked {
  border: 2px solid #000000;
  background-image: url("../images/tick-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="checkbox"]:focus-visible {
  outline: none;
}

.control-input[type="checkbox"]:focus {
  outline: 2px solid #af4fff;
}

.control-input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  margin: 0;
  cursor: pointer;
  border: 2px solid #cccccc;
  border-radius: 50%;
  margin-right: 16px;
  position: relative;
}

.control-input[type="radio"]:focus-visible {
  outline: none;
}

.control-input[type="radio"]:checked {
  border: 2px solid #000000;
}

.control-input[type="radio"]:checked:focus {
  outline: 2px solid #af4fff;
}

.control-input[type="radio"]:checked::before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  right: 5px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.control-label {
  color: #000000;
}

.filter-link {
  padding: 10px 5px;
  position: relative;
  display: flex;
  width: 220px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.filter-link::after {
  content: " ";
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  position: absolute;
  z-index: -1;
  transition: 1s;
}

.filter-link:hover::after {
  height: 100%;
}

.filter-link:focus {
  outline: 2px solid #af4fff;
}

.filter-link:active::after {
  height: 100%;
  background-color: #ffcc33;
  transition: none;
}

.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  margin-bottom: 28px;
  width: 200px;
  padding-top: 12px;
  border-top: 2px solid #000000;
}

.title-filter {
  margin-bottom: 20px;
}

.catalog-filter-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.control {
  display: flex;
  position: relative;
}

.select-sorting-type:focus-visible {
  outline: none;
}

.select-sorting-type:focus-within {
  outline: 2px solid #af4fff;
}

.select-control {
  appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 145px;
  color: #000000;
  padding-right: 32px;
  border: none;
  background-image: url("../images/select.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #f0f0f0;
}

.button-view-wrapper {
  display: flex;
  width: 60px;
}

.button-view-link {
  display: flex;
  align-items: center;
}

.button-view-link:focus-visible {
  outline: none;
}

.button-view-link:focus {
  outline: 2px solid #af4fff;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 17px;
}

.catalog-filter-item:hover {
  opacity: 0.6;
}

.catalog-filter-item:active {
  opacity: 0.3;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.filter-item-price {
  margin-bottom: 20px;
}

.product-card-describe {
  width: 226px;
  margin: 0;
}

.product-card-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 33px;
  position: relative;
}

.image-button-container {
  position: relative;
  width: 360px;
  margin-bottom: 12;
}

.product-card-link:hover .name-wrapper {
  opacity: 0.6;
}

.product-card-link:active .name-wrapper {
  opacity: 0.3;
}

.product-card-link:hover .product-card-image {
  opacity: 0.6;
}

.product-card-link:hover .card-button-wrapper {
  display: block;
}

.product-card-link:focus {
  outline: 2px solid #af4fff;
}

.card-button-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: none;
}

.product-card-button {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-card-button::after {
  content: " ";
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: 500ms;
}

.product-card-button:hover::after {
  height: 100%;
}

.product-card-button:active::after {
  background-color: #ffc700;
}

.product-card-price {
  color: #444444;
  font-weight: 400;
  margin: 0;
}

.view-more {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  display: block;
  background-color: transparent;
  min-width: 171px;
  width: 760px;
  border: 3px solid #e5e5e5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 44px;
}

.view-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.view-more:focus {
  outline: 3px solid #af4fff;
}

.view-more:disabled {
  border: 3px solid #e5e5e5;
  opacity: 0.3;
}

.pagination-wrapper {
  display: flex;
  width: 760px;
  background-color: #ebebeb;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 40px;
  align-items: center;
}

.pagination-item {
  min-width: 40px;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
  opacity: 0.3;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-prev {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 25px;
}

.pagination-link:hover {
  background-color: #dcdcdc;
}

.pagination-link:active {
  opacity: 0.3;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
  opacity: 1;
}

.pagination-next {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  padding: 22px;
  opacity: 1;
}
